html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* place your styles below */
.search-tools{
  display: flex;
  margin: auto;
justify-content: center;
}
.display{
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

#display img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

#display h2 {
  text-align: center;
}
